

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.Main{
    max-width: 1480px;
    max-height: 652px;
   margin: 0 auto; 
   
}



.top{
    background-image: url('../assets/Hero-bg.png');
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 32px;
   text-align: center;
   padding: 26px 221px 44px;
   
    
   
    
}
.imgroup{
    width: 240px;
    height: 240px;
   text-align: center;
  

    
}
.top-des{
    font-size: 18px;
    font-weight: normal;

}

.top-title{
    font-weight:700;
    font-size: 48px;
    color:#0D1321;
    text-align: center;
   
   
}
.txt{
    font-weight:700;
    font-size: 24px;
    color:rgba(13, 19, 33, 0.7);
   
    
}

.qtitle{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.top-total{
   
   
    text-align: center;

   
}

.btn-p{
    height: 66px;
    width: 208px;
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.btn-p:hover{
    background-color: rgb(70, 60, 48);
}

.q-container{
    padding: 80px 97px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
margin: 50px;
   
}

.ques-box{
    background-color: white;
    text-align: center;
    border-radius: 10px;

}


.qbox{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    width: 1050px;
    height: 260px;

    background-color:white ;
    border-radius: 16px;
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   
}

.btn{
    height: 48px;
    width: 150px;
   
    color:  rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
     opacity: 0.7;
     margin: 32px 0px;


}
.inspo{
    text-align: center;
    padding: 0px 144px;
    padding-bottom: 10px;
}
.inspo-video{
    
    border: 10px solid #FFFFFF;
    border-radius: 30px;

}
.inspire{
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
    gap: 44px;
    padding: 32px;
}


.bottom{
    background-image: url(../assets/handshake.jpg);

    max-width: 1140px;
    height: 313px;
 
    padding: 64px 48px;
    margin: 100px auto;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    background-position: center;
    border: 20px solid white;
    border-radius: 50px;
    
    

}
.support{
    
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    border-radius: 16px;
}
.support-form{
    gap: 10px;
}

.support-form input[type="text"] {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 20px;
    height: 57px;
    
}
.sec-separator{
    height: 50px;
    width: 100%;
}



.support-form input[type="submit"] {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #d7dbe6;
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 57px;
    width: 120px;

}
.plan{
    margin: 50px auto;
    max-width: 1200px;
}
.plan-main{
   justify-items: center;
    height: 460px;
   
    margin-bottom: 50px;
}
.plan2{
    text-align: center;
    padding: 20px;
}

.plan-flex{
    display: flex;
    gap: 24px;

}

.plan-1{
    background-color: rgba(255, 76,30,.05);
    width: 364px;
    height: 299px;
    padding: 50px;
    border-radius: 16px;
}
.plan-2{
    background-color: rgba(0, 76, 232, .05);
    width: 364px;
    height: 299px;
    padding: 50px;
    border-radius: 16px;
}
.plan-3{
    background-color: rgba(255, 223, 0, 0.05);
    width: 364px;
    height: 299px;
    padding: 50px;
    border-radius: 16px;
}

.foot{
    display: flex;
    
}
